<p id="notice"><%= notice %></p>

<h1>ToDo Listing</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Tasks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
	<td><%= link_to 'X', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><strong><%= task.text %></strong></td>
	<td><%= time_ago_in_words task.created_at %> ago</td>
        <td><%# link_to 'Show', task %></td> 
        <td><%= link_to ' Edit', edit_task_path(task) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-lg btn-info"></button>
<%= link_to 'New Task', new_task_path %>
