
<h1>Sign up</h1>

<%= form_for (@user) do |f| %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>

 <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>


<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>

<div class="actions">
  <%= f.submit "Sign up" %>
</div>
<% end %>



<form action="">
  <fieldset>
    <div class="clearfix error">
      <label>Nom</label>
      <div class="input">
        <input type="text">
      </div>
    </div>
    <div class="clearfix">
      <label>Prenom</label>
      <div class="input">
        <input type="text" value="test">
      </div>
    </div>
    <div class="clearfix">
      <label>Fonction</label>
      <div class="input">
        <select name="fonction">
          <option value="1">Chef</option>
          <option value="2">Pas chef</option>
          <option value="3">Je ne sais pas</option>
        </select>
      </div>
    </div>
    <div class="clearfix">
      <label>Message</label>
      <div class="input">
        <textarea name="message" class="xlarge"></textarea>
        <span class="help-block">Pas de code HTML dans le message</span>
      </div>
    </div>
    <div class="clearfix">
      <label>Sexe</label>
      <div class="input">
        <ul class="inputs-list">
          <li>
            <label>
              <input type="checkbox" >
              <span>Homme</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox" >
              <span>Femme</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="actions">
      <input type="submit" value="Envoyer" class="btn primary">
      <input type="reset" class="btn">
    </div>
  </fieldset>
</form>
