<p id="notice"><%= notice %></p>

<h1>Listing Weathers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>City</th>
      <th>Woeid</th> 
      <th colspan="1"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @weathers.each do |weather| %>
    <% query = weather.lookup(weather.woeid)%>
    <tr>
      <td><%= weather.woeid %></td>
      <td><%= weather.Location(query).city %>, <%= weather.Location(query).country %></td>
      <td><%= link_to 'Show', weather %></td>
      <td><%= link_to 'Edit', edit_weather_path(weather) %></td>
      <td><%= link_to 'Destroy', weather, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Weather', new_weather_path %>
