<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>



<br>

<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to post.title, post %></h3>
    </div>
    <div class="panel-body">
      <blockquote>
	<p><%= post.text %></p>
	<small>By <%= post.autor %></small>
	<small><%= time_ago_in_words post.created_at %> ago</small>
      </blockquote>
      <p>
	<% if post.user_id == current_user.id %>
	  <%= link_to 'Edit', edit_post_path(post) %> 
	  |
	  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> 
	<% end %>
      </p>
    </div>
  </div>

<% end %>

