<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @post.autor %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>


<h3>Comments</h3>

<% @post.comments.each do |comment| %>
  <% if comment.post_id = @post.id %>
    <%= comment.text %>
  <% end %>
<% end %>


<%= form_for [@post, @post.comments.build] do |f|%>
  <p><%= f.text_area :text, :size => '30x2' %> </p>
  <p><%= f.submit "Post Comment" %></p>
<% end %>


<% if @post.user_id == current_user.id %>
  <p><%= link_to 'Edit', edit_post_path(@post) %></p>
  <p><%= link_to 'Delete', post, :method => :destroy, data: { confirm: 'Are you sure?' } %></p>
<% end %>


<p><%= link_to 'Back', posts_path %></p>
